.menu-page {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.15rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.15rem;
  /* height: fit-content; */
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-direction: row;
  color: rgba(245, 245, 245, 0.875);
  /* background-color: #ecf3ff; */
  border-radius: 10px;
  padding: 0.65rem;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out;
}

.tab-name {
  cursor: pointer;
}

.selected-tab {
  color: rgba(245, 245, 245, 0.975);
  font-weight: bold;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}