.menu-page {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.15rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.15rem;
  height: fit-content;
}