.background-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgb(255, 166, 0), rgb(31, 196, 196))
}

.background-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 85vh;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

.menu {
  display: flex;
  height: 70%;
  width: 16rem;
  position: absolute;
  left: 0;
  margin-left: -8rem;
  padding: 1rem;
  box-sizing: border-box;
}

.preview {
  /* border: 1px solid black; */
  width: 60%;
  height: 85%;
  overflow-y: scroll;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}

/* total width */
.preview::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
  border-radius: 20px;
}
  
/* background of the scrollbar except button or resizer */
.preview::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}
  
/* scrollbar itself */
.preview::-webkit-scrollbar-thumb {
  background-color: rgba(61,162,131, 0.35);
  border-radius: 16px;
  min-height: 2.5rem;
  /* border: 1px solid #fff; */
  cursor: pointer;
}
  
/* set button(top and bottom of the scrollbar) */
.preview::-webkit-scrollbar-button {
  display:none;
}